extends ../layout

block content
  .container-fluid(role="main")
    .jumbotron
      .container-fluid
        h1.display-3 Welcome to Forums
        p Forums is a web chat to talk about videogames. Choose a channel or connect with a friend to start talking
    .container
      .row
        .col-md-4
          h2 General forum
          p Where we can talk about gaming news, consoles, reomtes,...
          a(class="btn btn-secondary" href="#" role="button") Go to »
        .col-md-4
          h2 Rocket league
          p All about our football-car favourite game
          a(class="btn btn-secondary" href="#" role="button") Go to »
        .col-md-4
          h2 Overcooked
          p Do you like games and cooking? This is your channel
          a(class="btn btn-secondary" href="#" role="button") Go to »