extends ../layout

block content
  .container-fluid(role="main")
    .jumbotron
      .container-fluid
        h1.display-3 Welcome to Forums
        p Forums is a web chat to talk about videogames. Choose a channel or connect with a friend to start talking
    .container-fluid
      .row
        each room in rooms
          .col-md-4
            h2 #{room.name}
            p #{room.details}
            a(class="btn btn-secondary" href="/forums/room/"+room.key role="button") Go to »
