doctype html
html
  head
    title= 'Forums'
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
  body
    .navbar.navbar-expand-lg.navbar-toggleable-md.navbar-dark.bg-dark
      a(class='navbar-brand' href='#') Forums
      button(class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div(class='collapse navbar-collapse justify-content-end' id='navbarContent')
        ul.navbar-nav
          li.nav-item.active
            a(class='nav-link' href='/forums') Home
          li.nav-item.dropdown
            a(class='nav-link dropdown-toggle' class=!(user && user.length > 0) && 'disabled' href="#" id="navbarRoomsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Channels 
              span(class="caret")
            .dropdown-menu(aria-labelledby="navbarRoomsDropdown")
              each room in rooms
                a.dropdown-item(href="/forums/room/"+room.key ) #{room.name}
          li.nav-item
            a(class='nav-link disabled' href='_blank') Private Chats
          li.nav-item
            a(class='nav-link disabled' href='_blank') About
          li.nav-item
            a(class='nav-link' href='/logout') Log out
  
    .container-fluid.h-100
      div(class='row justify-content-center align-items-center main-container')
        block content

    footer.footer
      .container-fluid.h-100
        if user && user.length > 0
          span.text-muted You are logged as #{user}

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/navigation.js')
